/* ThinClient rules */

@UserInterface
{
    @init
    {
        this.jframe = new JFrame();

        this.top = new JTextPane();

        this.bottom = new JTextPane();

        this.panel = new JPanel();

        this.commit = new JButton("Commit");

        //

        this.top.setPreferredSize(new Dimension(800,400));

        this.top.requestFocus();

        //

        this.bottom.setPreferredSize(new Dimension(800,200));

        this.bottom.setEditable(false);

        //

        this.jsplitpane.setOrientation(JSplitPane.VERTICAL_SPLIT);

        this.jsplitpane.add(top, JSplitPane.TOP);

        this.jsplitpane.add(bottom, JSplitPane.BOTTOM);

        this.jsplitpane.setSize(800, 600);

        //

        this.panel.add(commit);

        //

        this.jframe.add(this.jsplitpane);

        this.jframe.add(this.panel);
    }

    @listeners
    {
        this.commit.addActionListener(this);

        this.top.addFocusListener(this);
    }

    @shutdown
    {

    }
}